/* 
##################
#    GENERAL     #
##################
*/

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* 
##################
#      UTILS     #
##################
*/

#bg-pink {
  background-color: #9792e4;
}

#gray-bg {
  background-color: gray;
}

.black-bg {
  background-color: #333333;
  color: white;
}

/* 
##################
#    SECTION     #
##################
*/

/* Header */

#header {
  height: 80px;
  background-color: #178ffd;
}

.ul-menu {
  display: flex;
  justify-content: space-between;
}

.fa-bars {
  color: white;
}

.ul-menu li {
  list-style: none;
  margin: 1.5rem;
}

.ul-menu li a {
  text-decoration: none;
  color: white;
}

.ul-menu li:last-child {
  background-color: white;
  border-radius: 25px;
  padding: 5px 10px;
}

#last-link {
  color: black;
}

.h-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 1rem;
}

.link-menu {
  display: none;
}

/* Start section */

.start {
  text-align: center;
  color: #444;
}

.text-start {
  text-align: start;
  padding: 2rem;
}

.text-start button {
  margin: 2rem 0;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  color: white;
  background-color: #178ffd;
  border: none;
  border-radius: 50px;
}

.row {
  width: 100%;
}

.col {
  background-color: #b5ddff;

  margin: 1rem;
  border-radius: 20px;
}

.phone-image {
  width: 80%;
}

.image-p {
  font-size: 5rem;
  margin: 1rem;
  color: #178ffd;
}

.start .card {
  padding: 0 1rem;
}

.card-down {
  padding-bottom: 2rem;
}

/* planning section */

.planning {
  margin-top: 4rem;
  padding: 1rem;
  color: white;
  line-height: 2rem;
  font-size: 1.3rem;
}

.planning-text {
  display: flex;
  flex-direction: column;
}

.planning-img {
  text-align: center;
  padding: 2rem;
  background-color: white;
  color: black;
  border-radius: 50px;
  line-height: 1.3rem;
}

.planning h2 {
  margin: 2rem 0;
}

.arrow {
  display: inline-block;
  background-color: #9792e4;
  margin-top: 1rem;
  padding: 1rem 1.2rem;
  border-radius: 50%;
  font-size: 1.2rem;
}

/* testimonial */

.testimonials {
  text-align: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

.testimonials > h1 {
  color: #9792e4;
}

.testimonials > .card {
  width: 100%;
  background-color: #9792e4;
  border-radius: 50px;
  margin: 2rem 0;
  color: whitesmoke;
}

.img-testimonials {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 1rem 2rem;
}

.text-testimonials {
  height: 50%;
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
}

/* working section */

.working {
  text-align: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

.working > .card {
  min-height: 200px;
  width: 100%;

  border-radius: 50px;
  margin: 2rem 0;
}

.mazzo .card {
  background-color: white;
  margin: 1rem;
  text-align: start;
  padding: 1.5rem;
  border-radius: 25px;
  color: #444;
}

.mazzo .card button {
  font-size: 1.2rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  margin: 1rem 0;
  background-color: #9792e4;
  color: whitesmoke;
}

.working h2 {
  color: #9792e4;
}

.number {
  font-size: 3rem;
  margin: 1.5rem 0;
  color: #9792e4;
}

/* ABOUT US SECTION */

.about-us {
  margin: 2rem;
  line-height: 2rem;
}

.about-text h1 {
  color: #9792e4;
}

.about-us img {
  margin: 2rem 0;
  border-radius: 50%;
  width: 50%;
}

.about-img p {
  font-size: 1.5rem;
  color: #9792e4;
  font-weight: bolder;
}

.about-img {
  position: relative;
}

.apice {
  position: absolute;
  top: 10%;
  left: 40%;
  font-size: 5rem;
  color: #9792e4;
}

.about-img button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: #9792e4;
  border-radius: 25px;
  color: whitesmoke;
}

/* FOOTER */

.footer-div {
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
  color: white;
}

.footer-div p:last-of-type {
  max-width: 500px;
  margin: auto;
  margin-bottom: 1.5rem;
}

.footer-div ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-div li {
  margin: 0 1rem;
}

.footer-div li > a {
  color: white;
}

/* SECOND PART FOOTER */

.lorem {
  text-align: center;
  padding: 2rem 1rem;
}

.lorem p:first-child {
  max-width: 350px;
  margin: auto;
  padding: 2rem 1rem;
}

.footer-btn {
  border: none;
  color: #9792e4;
  background-color: whitesmoke;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1.5rem;
}

.footer-div > h1 {
  font-size: 2.5rem;
  color: orange;
}

.footer-div > h2 {
  font-size: 2rem;
}

.footer-div p:first-child {
  font-size: 1.5rem;
  font-weight: 200;
}

/* 
##################
#   RESPONSIVE   #
##################
*/

/* TABLET */

@media screen and (min-width: 576px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .row > .col {
    width: calc(100% / 3 - 2rem);
  }

  .row .col:first-child {
    width: calc(100% / 3 * 2 - 2rem);
  }

  .about-us {
    display: flex;
  }

  .about-text {
    width: 50%;
  }

  .about-img {
    width: 50%;
    padding-left: 3rem;
  }

  .about-img img {
    max-width: 200px;
  }

  .apice {
    top: 10%;
    left: 50%;
  }

  .testimonials .card {
    display: flex;
    align-items: center;
    text-align: start;
  }

  .text-testimonials {
    padding: 2rem;
  }

  .img-testimonials {
    height: 190px;
    width: 600px;
    padding: 1rem;
  }

  .mazzo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .working .card {
    width: calc(100% / 2 - 5rem);
  }
}

@media screen and (min-width: 705px) {
  .img-testimonials {
    height: 200px;
    width: 460px;
    padding: 1rem;
  }
}

/* FULL DESKTOP */

@media screen and (min-width: 992px) {
  .bars-menu {
    display: none;
  }

  .link-menu {
    display: block;
  }

  .section > div {
    max-width: 1200px;
    margin: auto;
  }

  .section:last-of-type {
    width: 100%;
  }

  .text-start {
    width: 60%;
  }

  .apice {
    top: 10%;
    left: 35%;
  }

  .image-start {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .planning {
    display: flex;
    justify-content: space-between;
  }

  .img-testimonials {
    height: 250px;
    width: 350px;
    padding: 1rem;
  }

  .row .col .card:first-child {
    display: flex;
    justify-content: space-around;
  }

  .planning-text {
    width: 50%;
  }

  .planning-img {
    width: 30%;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 0;
    margin-top: 10rem;
    text-align: center;
  }

  .planning-img h2 {
    margin: 1rem;
  }

  .working .card {
    width: calc(100% / 3 - 5rem);
  }

  .about-us {
    padding: 0 2rem;
    line-height: 2rem;
    font-size: 1.3rem;
  }

  .about-img img {
    max-width: 150px;
  }

  .about-img p {
    margin: 0 0 1.5rem;
  }
}
