/* 
##################
#    GENERAL     #
##################
*/

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.section {
  margin: 3rem 0;
}

/* 
##################
#      UTILS     #
##################
*/

#bg-pink {
  background-color: violet;
}

#gray-bg {
  background-color: gray;
}

.black-bg {
  background-color: black;
  color: white;
}

/* 
##################
#    SECTION     #
##################
*/

/* Header */

#header {
  height: 80px;
  background-color: red;
}

.h-section {
  display: flex;
  justify-content: space-between;
  line-height: 80px;
  padding: 0 1rem;
}

/* Start section */

.row {
  width: 100%;
}

.col {
  background-color: blue;
  min-height: 200px;
  margin: 1rem;
}

/* planning section */

.planning {
  min-height: 500px;
  margin-top: 4rem;
  padding: 1rem;
  color: white;
  line-height: 2rem;
  font-size: 1.3rem;
}

.planning-img {
  margin: 0 3rem auto;
  padding: 2rem;
  background-color: white;
  color: black;
  border-radius: 50px;
  line-height: 1.3rem;
}

.planning h2 {
  margin: 2rem 0;
}

/* testimonial */

.testimonials {
  text-align: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

.testimonials > .card {
  min-height: 200px;
  width: 100%;
  background-color: red;
  border-radius: 50px;
  margin: 2rem 0;
}

/* working section */

.working {
  text-align: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

.working > .card {
  min-height: 200px;
  width: 100%;
  background-color: rgb(17, 0, 255);
  border-radius: 50px;
  margin: 2rem 0;
}

.card {
  height: 300px;
  background-color: blue;
  margin: 1rem;
}

/* ABOUT US SECTION */

.about-us {
  margin: 0 1rem;
  line-height: 2rem;
}

.about-us img {
  border-radius: 50%;
  width: 50%;
}

/* FOOTER */

.footer-div {
  max-width: 500px;
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
  color: white;
}

.footer-div ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-div li {
  margin: 0 1rem;
}

.footer-div li > a {
  color: white;
}

/* SECOND PART FOOTER */

.lorem {
  max-width: 500px;
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
}

.lorem p:first-child {
  margin-bottom: 4rem;
}

/* 
##################
#   RESPONSIVE   #
##################
*/

/* TABLET */

@media screen and (min-width: 576px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .row > .col {
    width: calc(100% / 3 - 2rem);
  }

  .row .col:first-child {
    width: calc(100% / 3 * 2 - 2rem);
  }

  .about-us {
    display: flex;
  }

  .about-text {
    width: 50%;
  }

  .about-img {
    width: 50%;
    padding-left: 3rem;
  }

  .about-img img {
    max-width: 200px;
  }

  .mazzo {
    display: flex;
    flex-wrap: wrap;
  }

  .working .card {
    width: calc(100% / 2 - 2rem);
  }
}

/* FULL DESKTOP */

@media screen and (min-width: 992px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }

  .planning {
    display: flex;
    justify-content: space-between;
  }

  .row .col .card:first-child {
    display: flex;
    justify-content: space-around;
  }

  .planning-text {
    width: 50%;
  }

  .planning-img {
    width: 30%;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 0;
    margin-top: 10rem;
    text-align: center;
  }

  .planning-img h2 {
    margin: 1rem;
  }

  .working .card {
    width: calc(100% / 3 - 2rem);
  }
}
